# Useful Notes

## List

In [5]:
ice_cream = ['Chocolate', 'Vanilla', 'Rocky Road']
x, y, z = ice_cream
print(x, y, z)

Chocolate Vanilla Rocky Road

In [6]:
print('Me', 2)

Me 2

## Set

In [8]:
a = {1, 2, 3, 3, 4, 0, 7, 11} 
print(a) # dont show duplicates values

{0, 1, 2, 3, 4, 7, 11}

In [9]:
b = {12, 6, 2, 4, 13, 9}

In [10]:
print(a | b) # union without duplicates values

{0, 1, 2, 3, 4, 6, 7, 9, 11, 12, 13}

In [11]:
print(a & b) # intersection without duplicates values

{2, 4}

In [12]:
print(a - b) # set a without common values with b

{0, 1, 3, 7, 11}

In [13]:
print(b - a) # set b without common values with a

{9, 12, 13, 6}

In [14]:
print(a ^ b) # union - intersection aka. unique values in each sets

{0, 1, 3, 6, 7, 9, 11, 12, 13}

## Dictionary

In [18]:
d = {(1, 2): 1, 'a': [1, True]}
d.values()

dict_values([1, [1, True]])

In [19]:
d.keys()

dict_keys([(1, 2), 'a'])

In [20]:
d.items()

dict_items([((1, 2), 1), ('a', [1, True])])

In [23]:
d[(1, 2)] = 'a'

In [26]:
d.update({(1, 2): 2, 'c': 300})

In [27]:
d

{(1, 2): 2, 'a': [1, True], 'c': 300}

In [28]:
del d[(1, 2)]

In [31]:
for key, value in d.items():
    print(key, '->', value)

a -> [1, True]
c -> 300

## Continue

In [32]:
n = 0
while n < 5:
    n += 1
    if n == 3:
        continue # if statement is satisfied then go back to the start of the loop without proceeding to the next line
    print(n)
else:
    print('bigger than 4')

1
2
4
5
bigger than 4

# Arbitrary Arguements

In [52]:
my_tuple = (1, 2, 3, 4, 5)

def my_function(*args):
    n = 0
    for arg in args:
        n += arg
    return n

my_function(*my_tuple)

15

In [53]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [58]:
def my_function(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(1, 2, 3, name="Alice", age=30)

1
2
3
name: Alice
age: 30

## Converting Data Types

In [63]:
l = [1, 2, 5, 5, 6, 0]

In [64]:
set(l) # can not be used to convert nested list

{0, 1, 2, 5, 6}

In [65]:
d = {1: 'a', 'b': [1, 2], ('w', 'y'): 'what is this'}

In [69]:
list(d.items())

[(1, 'a'), ('b', [1, 2]), (('w', 'y'), 'what is this')]

In [70]:
s = 'I like to party'

In [71]:
set(s) # can also do list[s]

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}